body{
    padding: 0;
    margin: 0;
}

.jg-reu{
    display: none;
}

.acoes-tipo{
    display: none;
}

#form-processos{
    display: none;
}

#form-reus{
    padding: 10px;
    flex-direction: column;
    background-color: rgb(97, 97, 97);
    width: 60vh;
}



